__pycache__/
__pycache__
*.pyc
**/__pycache__
**/*.pyc
database/__pycache__

.vscode
.env
*.py[cod]
output.txt
output.json
app.log
.DS_Store
.spa_bot
google_connection/service_account.json
test_color.log
.DS_Store
**/.DS_Store